* {
color: #FFFC9F;
font-family: verdana;
font-size: 12px;
}
.td {
border-top: solid black 1px;
border-bottom: solid black 1px;
border-left: solid black 1px;
border-right: solid black 1px;
}
input, textarea, select {
color: #FFE149;
background: black;
border: solid gray 1px;
}
a {
text-decoration: none;
text-transform: none;
color: #FFFFFF;
}
a:hover {
text-decoration: none;
text-transform: none;
color: red;
}
body {
background: #000000;
}
body, iframe, select, textarea {
scrollbar-face-color: black;
scrollbar-highlight-color: gray; 
scrollbar-shadow-color: gray; 
scrollbar-3dlight-color: black; 
scrollbar-arrow-color: gray;
scrollbar-track-color: black; 
scrollbar-darkshadow-color: black; 
scrollbar-base-color: black;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}
div.error {
  border-style: dotted;
  border-color: darkred;
  border-width: 2px;
  text-align: center;
  padding: 10px;
  color: red;
  font-weight: bold;
  margin: 10px;
}
div.success {
  border-style: dotted;
  border-color: green;
  border-width: 2px;
  text-align: center;
  padding: 10px;
  color: lightgreen;
  margin: 10px;
}
div.info {
  border-style: dotted;
  border-color: blue;
  border-width: 2px;
  text-align: center;
  padding: 10px;
  color: mediumaquamarine;
  font-weight: bold;
  margin: 10px;
}
label.toggle { 
  cursor: pointer; 
  color: #FFFFFF; 
}
input.toggle { 
  display: none; 
}
input.toggle:checked+div { 
  display: none; 
}
