.light {
  color: #FFD700;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

input, textarea, select {
  color: #FFD700;
  font-size: 11px;
  background: #000000;
  border: solid gray 1px;
}

a:link, a:active, a:visited {
  color: #FFFFFF;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #00FF00;
}

body {
  font: 0.75em/1.25 "Lucida Sans Unicode","Lucida Grande",Verdana,sans-serif; 
  background: #000000;
}

.dark {
  color : black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  width: 100%
}

table.main {
  background : url('images/main.jpg');
  border-width : 0px;
}

td.head {
  background : url('images/head.gif');
  border-width : 0px;
}

table.panels {
  background : url('images/panels.jpg');
  border-width : 0px;
  text-align : center;
}

td.center {
  background : url('images/center.jpg');
  border-width : 0px;
  color : #000000;
}

td.foot {
  background : url('images/foot.gif');
  border-width : 0px;
  text-align : center;
}

input:hover, textarea:hover, select:hover {
  background: #7B1D1D;
}

input:focus, textarea:focus, select:focus {
  background: #7B1D1D;
}

div.error {
  border-style: solid;
  border-color: darkred;
  border-width: 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  background: darkred;
  color: white;
  font-weight: bold;
  margin: 10px;
}
div.success {
  border-style: solid;
  border-color: green;
  border-width: 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  background: green;
  color: white;
  margin: 10px;
}
div.info {
  border-style: solid;
  border-color: gold;
  border-width: 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  color: black;
  background: gold;
  font-weight: bold;
  margin: 10px;
}
label.toggle { 
  cursor: pointer; 
  color: #FFFFFF; 
}
label.toggle:hover { 
  cursor: pointer; 
  color: #00FF00; 
}
input.toggle { 
  display: none; 
}
input.toggle:checked+div { 
  display: none; 
}
input.toggle:checked+span { 
  display: none; 
}
