* {
  color: #FFFC9F;
  font-family: Verdana,sans-serif;
  font-size: 10pt;
}

input, textarea, select {
  color: khaki;
  background: #181818;
  border: solid dimgray 1px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 8pt;
  padding-left: 5px;
}

a {
  text-decoration: none;
  text-transform: none;
  color: #FFFFFF;
  font-size: 10pt;
}

a:hover {
  text-decoration: none;
  text-transform: none;
  color: red;
  font-size: 10pt;
}

body {
  background: #000000;
  background-image: url('tlo.jpg'); 
  background-position: top; 
  background-repeat: repeat-x;
  border: 0px;
}

body, iframe, select, textarea {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

div.info {
  position: absolute; left: 580px; top: 130px;
}

div.login1 {
  position: absolute; left: 580px; top: 160px;
}

div.menu {
  display: inline;
  margin-left: 10%;
}

div.menu2 {
  display: inline;
  margin-left: 12%;
}

div.foot {
  text-align: center;
  margin-top: 15px;
}

div.pagename {
  text-align: center;
  font-weight: bold;
  margin: 15px;
}

div.text {
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
  width: 75%;
}

div.mail {
  margin-left: 25px;
  margin-top: 15px;
}

div.newstop
{
    text-align: center;
    font-weight: bold;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 15px;
}

div.news {
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  border-style: dashed;
  border-color: teal;
  border-width: 1px;
  width: 70%;
  padding: 10px;
  font-style: italic;
  -webkit-border-radius: 10px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

div.news2 {
  text-align: center;
  margin-bottom: 10px;
  border-bottom-style: dashed;
  border-width: 1px;
  border-color: dimgray;
  font-style: normal;
}

div.menu3 {
  display: inline;
  margin-left: 30%;
}

div.text2 {
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

div.forms {
  text-align: center;
  margin-bottom: 5px;
}

div.text3 {
  font-style: italic;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

div.forms2 {
  text-align: right;
  margin-bottom: 5px;
  margin-left: 25%;
  width: 30%;
}

div.forms3 {
  margin-bottom: 5px;
  margin-left: 30%;
  width: 30%;
}

input:hover, select:hover {
  background: #7B1D1D;
}

input:focus, select:focus {
  background: #7B1D1D;
}

span.login {
  display: block;
  margin-bottom: 5px;
  text-align: right;
}

span.login2 {
  display: block;
  margin-bottom:5px;
  text-align: center;
}

table.online {
  float: right;
  width: 20%;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
